body {
  background: green;
}
.card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 5%;
  border: 1px solid black;
  margin: auto;
  height: 400px;
  width: 300px;
  padding: 10px;
  position: relative;
  font-size: 60px;
}
.top-suit {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 95px;
}
.bottom-suit {
  position: relative;
  bottom: 20px;
  right: 20px;
  font-size: 95px;
}
.spade:before {
  content: "\2660";
  position: absolute;
  left: 5px;
  top: 5px;
}
.spade:after {
  content: "\2660";
  position: absolute;
  right: 1px;
  bottom: -5px;
}
.club:before {
  content: "\2663";
  position: absolute;
  left: 5px;
  top: 5px;
}
.club:after {
  content: "\2663";
  position: absolute;
  right: 1px;
  bottom: -1px;
}
.heart:before {
  content: "\2665";
  color: red;
  position: absolute;
  left: 5px;
  top: 5px;
}
.heart:after {
  content: "\2665";
  color: red;
  position: absolute;
  right: 1px;
  bottom: -1px;
}
.diamond:before {
  content: "\2666";
  color: red;
  position: absolute;
  left: 5px;
  top: 5px;
}
.diamond:after {
  content: "\2666";
  color: red;
  position: absolute;
  right: 1px;
  bottom: -1px;
}
